<!DOCTYPE html>
<html ng-app="timestack" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>TimeStack</title>

    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body>

    <div ng-controller="stackCtrl as stack" ng-show="stack.show">
      <ul class="timer-stack">
        <li ng-repeat="timer in stack.timers track by $index">
          <timer data="timer"></timer>
          <button ng-click="stack.removeTimer($index)">
            X
          </button>
          <button ng-click="stack.moveTimerUp($index)">
            up
          </button>
          <button ng-click="stack.moveTimerDown($index)">
            down
          </button>
          <button ng-click="stack.resetTimer($index)">
            reset
          </button>
        </li>
      </ul>

      <timer-form></timer-form>
      <timer-buttons></timer-buttons>
    </div>

    <script src="dependencies/angular.js"></script>
    <script src="js/timestack.js"></script>
    <script src="js/controllers/stackCtrl.js"></script>
    <script src="js/directives/timer.js"></script>
    <script src="js/directives/timerButtons.js"></script>
    <script src="js/directives/timerForm.js"></script>
    <script src="js/filters/formatTimer.js"></script>
  </body>
</html>
