<!DOCTYPE html>
<html ng-app="timestack" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>TimeStack</title>

    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body>

    <div ng-controller="stackCtrl as stack">
      <ul class="timer-stack">
        <li ng-repeat="timer in stack.timers">
          <timer data="timer"></timer>
        </li>
      </ul>

      <form name="timerInfo" ng-submit="stack.addTimer()">
          <input type="number" ng-model="stack.formSeconds" />

        <input type="submit" value="Add Timer" />
      </form>

      <button ng-click="stack.startTimer()"
              ng-hide="stack.timersRunning || stack.isEmpty()"
              class="start-timer-button">
        Start
      </button>

      <button ng-click="stack.pauseTimers()"
              ng-show="stack.timersRunning && !stack.isPaused"
              class="pause-timer-button">
        Pause
      </button>
      
      <button ng-click="stack.startTimer()"
              ng-show="stack.isPaused"
              class="resume-timer-button">
        Resume
      </button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/timestack.js"></script>
    <script src="js/directives/timer.js"></script>
  </body>
</html>
