html, body, h1, h2, ul, li, h3, a, p, div, input, form,
label, button {
  background: transparent;
  border:  0;
  color: inherit;
  margin:  0;
  outline: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  box-shadow: none;
  vertical-align: inherit;
  text-decoration: none;
}

body {
  font-family: 'Merriweather';
  text-align: center;
}

.add-timer-button {
}

.timer-button {
}

.group:before {
  clear: both;
  content: "";
  display: block;
}

.timer-button {
  float: right;
  font-size: 12px;
}

.add-timer-button {
  margin: 5px 0;
}

button, .button {
  border: 1px solid black;
  border-radius: 10px;
  margin: 2.5px auto;
  display: block;
  padding: 5px;
  cursor: pointer;
}
.control-button {
  width: 150px;
  padding: 7.5px;
  font-size: 12px;
}

.timer-form {
  display: block;
  width: 80%;
  margin: auto;
}

.text-description {
  margin: 5px auto;
  width: 80%;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

input {
  display: block;
  border: 1px solid #eee;
}

.time-input {
  margin: 0 0.5px;
  float: left;
}

.time-inputs {
  display: block;
  width: 47%;
  margin: 5px auto 0 auto;
}

.timer {
  display: block;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid black;
}

.unit-marker {
  float: left;
  font-size: 12px;
  margin: 0 5px;
}

.timer-data {
  float: left;
  margin-right: 5px;
  display: block;
  width: 285px;
  text-align: left;
}

.app {
  display: block;
  width: 500px;
  padding: 10px;
}

.app-title {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
