html, body, h1, h2, ul, li, h3, a, p, div, input, form,
label, button {
  background: transparent;
  border:  0;
  color: inherit;
  margin:  0;
  outline: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  box-shadow: none;
  vertical-align: inherit;
  text-decoration: none;
  cursor: default;
}

body {
  font-family: 'Merriweather';
  text-align: center;
}

.group:after {
  clear: both;
  content: "";
  display: block;
}

.timer-button {
  float: right;
  background: #A9A9FF;
  font-size: 12px;
  color: white;
  border-radius: 10px;
}

.remove-timer-button {
  background: red;
}

button, .button {
  /*border: 1px solid black;*/
  border-radius: 15px;
  margin: 2.5px auto;
  display: block;
  padding: 5px;
  cursor: pointer;
  color: white;
}

.control-button {
  width: 150px;
  background: #A9A9FF;
  padding: 7.5px;
  font-size: 12px;
}

.timer-form {
  display: block;
  width: 80%;
  margin: 10px auto 0 auto;
}

.text-description {
  margin: 10px auto;
  width: 80%;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

input {
  display: block;
  border: 1px solid #eee;
  cursor: text;
}

.time-input {
  margin: 0 0.5px;
  float: left;
}

.time-inputs {
  display: block;
  width: 183px;
  margin: 5px auto 0 auto;
}

.timer {
  display: block;
  width: 82%;
  margin: auto;
  border-bottom: 2px solid #ddd;
}

.unit-marker {
  float: left;
  font-size: 12px;
  margin: 0 5px;
}

.timer-data {
  float: left;
  margin-right: 5px;
  display: block;
  width: 250px;
  text-align: left;
}

.app {
  display: block;
  width: 450px;
  padding-bottom: 10px;
}

.timer-text-description {
  font-size: 14px;
  font-style: italic;
}

.fa {
  width: 13px;
}

button:disabled, input:disabled, textarea:disabled {
  color: #eee;
}

button:disabled, .add-timer-button:disabled {
  background: #C4C4FF;
  cursor: default;
}

.header-bar {
  background: #7964ED;
  height: 35px;
  margin-bottom: 10px;
}

.app-title {
  display: block;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.reset-button {
  font-size: 10px;
}
