<!DOCTYPE html>
<html ng-app="timestack" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>TimeStack</title>

    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body>

    <div ng-controller="stackCtrl as stack">
      <ul class="timer-stack">
        <li ng-repeat="timer in stack.timers">
          <timer data="timer"></timer>
        </li>
      </ul>

      <form name="timerInfo" ng-submit="stack.addTimer()">
        <input type="number"
               ng-model="stack.formMinutes"
               max = 240
               min = 0 />
        <input type="number"
               ng-model="stack.formSeconds"
               max = 59
               min = 0 />

        <input type="submit" value="Add Timer" />
      </form>

      <timer-buttons></timer-buttons>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/timestack.js"></script>
    <script src="js/directives/timer.js"></script>
    <script src="js/directives/timerButtons.js"></script>
  </body>
</html>
