<div ng-class="{ 'hide-border': stack.isEmpty() }" class="timer-buttons group">
  <button ng-click="stack.clearTimers()"
          ng-hide="stack.isEmpty()"
          class="clear-all-button control-button">
    Clear All
  </button>
  <button ng-click="stack.startTimer()"
        ng-hide="stack.timersRunning || stack.isEmpty()"
        class="start-timer-button control-button">
    Start
  </button>

  <button ng-click="stack.pauseTimers()"
          ng-show="stack.timersRunning && !stack.isPaused"
          class="pause-timer-button control-button">
    Pause
  </button>

  <button ng-click="stack.startTimer()"
          ng-show="stack.isPaused"
          class="resume-timer-button control-button">
    Resume
  </button>

  <div class="pagination-buttons">
    <i ng-click="stack.prevPage()"
    ng-show="stack.curPage < stack.numPages() && stack.curPage > 0"
    class="prev-page-button fa fa-arrow-left"></i>
    <span>{{stack.curPage + 1}} of {{stack.numPages()}}</span>
    <i ng-click="stack.nextPage()"
    ng-show="stack.curPage < stack.numPages()"
    class="next-page-button fa fa-arrow-right"></i>
  </div>

</div>
