<button ng-click="stack.startTimer()"
        ng-hide="stack.timersRunning || stack.isEmpty()"
        class="start-timer-button">
  Start
</button>

<button ng-click="stack.pauseTimers()"
        ng-show="stack.timersRunning && !stack.isPaused"
        class="pause-timer-button">
  Pause
</button>

<button ng-click="stack.startTimer()"
        ng-show="stack.isPaused"
        class="resume-timer-button">
  Resume
</button>

<button ng-click="stack.clearTimers()"
        ng-hide="stack.isEmpty()"
        class="clear-all-button">
  Clear all
</button>
