<form class="timer-form group" name="timerInfo" ng-submit="stack.addTimer()">
  <div class="time-inputs group">
    <label for="hours-input" class="obscure">Hours</label>
    <input class="time-input"
           id="hours-input"
           type="text"
           ng-model="stack.formHours"
           ts-down-key="stack.subHour()"/>
    <i class="input-colon">
      :
    </i>
    <i class="fa fa-arrow-up increase-hours time-changer"
       ng-click="stack.addHour()"></i>
    <i class="fa fa-arrow-down decrease-hours time-changer"
       ng-click="stack.subHour()"></i>

    <label for="minutes-input" class="obscure">Minutes</label>
    <input class="time-input"
           type="text"
           id="minutes-input"
           ng-model="stack.formMinutes"
           ts-down-key="stack.subMinute()"/>
    <i class="input-colon">
      :
    </i>
    <i class="fa fa-arrow-up increase-minutes time-changer"
       ng-click="stack.addMinute()"></i>
    <i class="fa fa-arrow-down decrease-minutes time-changer"
       ng-click="stack.subMinute()"></i>

    <label for="seconds-input" class="obscure">Seconds</label>
    <input class="time-input"
           id="seconds-input"
           type="text"
           ng-model="stack.formSeconds"/>
    <i class="fa fa-arrow-up increase-seconds time-changer"
       ng-click="stack.addSecond()"></i>
    <i class="fa fa-arrow-down decrease-seconds time-changer"
       ng-click="stack.subSecond()"
       ts-down-key="stack.subSecond()"></i>
 </div>

  <label for="description-input" class="obscure">Timer Description</label>
  <input type="text"
         class="text-description"
         id="description-input"
         ng-model="stack.timerDesc"
         placeholder="e.g. Study for exam"/>

  <input type="submit"
         class="add-timer-button button"
         value="Add Timer"
         ng-disabled="stack.seconds() +
               stack.minutes() +
               stack.hours() === 0 ||
               !stack.NaNInInputs()"/>
</form>
