<form class="timer-form group" name="timerInfo" ng-submit="stack.addTimer()">
  <div class="time-inputs group">
    <input class="time-input"
           type="number"
           ng-model="stack.formHours"
           max="24"
           min="0" />
    <p class="unit-marker">
      h
    </p>
    <input class="time-input"
           type="number"
           ng-model="stack.formMinutes"
           max="59"
           min="0" />
    <p class="unit-marker">
      m
    </p>
    <input class="time-input"
           type="number"
           ng-model="stack.formSeconds"
           max="59"
           min="0" />
    <p class="unit-marker">
      s
    </p>
 </div>

  <input type="text"
         class="text-description"
         ng-model="stack.timerDesc"
         placeholder="e.g. Study for exam"/>

  <input type="submit"
         class="add-timer-button button"
         value="Add Timer"
         ng-disabled="stack.formSeconds +
               stack.formMinutes +
               stack.formHours === 0"/>
</form>
